@font-face {
  font-family: "Camaufalge";
  src: local("Camaufalge"),url("./fonts/Camaufalge.otf") format("opentype");
  font-weight: normal;
}

.App {
  font-family: "Camaufalge";
  width: 100vw;
  height: 100vh;
  text-align: center;
  align-content: center;
  background: linear-gradient(45deg, #FFBC00, #F24A00);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
